This is the users show profile page
find me in app/views/users/show
<div class="profile-page">
  <% if current_user && current_user.id == @user.id %>
    <h1 style="padding-bottom: 10px;">welcome to your home page</h1>
  <% else %>
    <h1 style="padding-bottom: 10px;">do not snoop at another person's page!</h1>
  <% end %>

  <div>

    <% if current_user && current_user.id == @user.id %>
      <h6><%= link_to('edit account', edit_user_registration_path) %></h6>
    <% end %>
  </div>

  
</div>
