<div class="profile-page">
  <h1>welcome to your home page</h1>

  <% if current_user.events.empty? %>
    <p>you have not yet searched for anything</p>
    <p>why don't you? we think our search bar is pretty sweet beans</p>
  <% else %>
    <% if @upcoming_shows %>
    <h2>upcoming shows from your previous searches</h2>
      <% @upcoming_shows.each do |concert| %>
        <h2><%= concert[:genre] %></h2>
          <% concert[:shows].each do |show| %>
            <div id="user-show" class="five.columns">
              <%= render partial: 'homes/display_show', locals: { show: show } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
</div>



