
<%= render "searchbar" %>

<div class="loading">
  <span>boppin'</span>
</div>

<div class="results"></div>

<%= @city %>

<button data-page="0" type="button" class="load_more">one more month of shows please!!</button>

