<div class="loading hidden">
  <span>boppin'</span>
</div>

<div class="logo-to-hide homes-logo">
 <p> <%= image_tag "logo.png" %> </p>
</div>

<h1 id="homepage-desc">find shows<span class="comma">,</span> the genre way<span class="exclamation">!</span></h1>

<%= render "searchbar" %>

