<% if @matched_events %>
  <% @matched_events.each do |show| %>
    <%= render partial: "display_show", locals: { show: show } %>
  <% end %>
<% end %>

<div class="results"></div>

<div class="loading hidden">
  <span>boppin'</span>
</div>

<button data-page="1" data-user-search="<%= session[:user_search] %>" type="button" id="load-more-button">load more</button>

<span class="this is search.html.erb"></span>
