.nav-bar {
  width: 100%;
  background-color: #61BDB6;
  font-family: 'Quicksand', sans-serif;
}

.nav-bar a {
  color: #61BDB6;
  background-color: #FBD3E7;
  vertical-align: middle;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  border-radius: 12px;
}

.nav-bar img {
  width: auto;
  height: 190px;
  top: 0px;
}

.nav-bar .logo {
  float: left;
  padding-left: 100px;
  vertical-align: center;
  background-color: #61BDB6;
  /*padding: none;*//* see if this caused no padding on heroku*/
}


.nav-bar .user-link {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 75px;
}

.footer {
  min-height: 100%;
  padding-top: 60px;
}

.user-info {
  float: left;
  margin-left: -60px;
  border: 2px solid red;
  float: left;
}

.profile-page {
  text-align: center;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  line-height: 90%;
  font-family: 'Quicksand', sans-serif;
}

.devise-container {
  display: block;
  text-align: center;
  margin: auto;
}

.devise-container form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/*edit account page*/
.edit_user  {
  display: block;
  text-align: left;
  width: 50%;
}

/*this was the placeholder for big logo on landing page*/
.replace-me-with-something-better {
  height:300px;
}


/* Repeats in user_show.css , troubleshoot later*/
#sign-up-but, #log-in-but, #update-but, #cancel-but {
  color: #61BDB6;
  background-color: #FBD3E7;
  font-family: 'Quicksand', sans-serif;
  font-size: .6em;
  vertical-align: middle;
  display: block;
  margin: auto;
  text-decoration: none;
  padding: 5px;
  border-radius: 12px;
}

/* Repeats in user_show.css , troubleshoot later*/
#user_password, #user_email, #user_password_confirmation, #user_current_password {
  background-color: white;
  font-size: .7em;
  width: 315px;
  border-radius: 31px;
  line-height: 38px;
}

/* Repeats in user_show.css , troubleshoot later*/
.field-remember {
  color: white;
}

.homes-logo {
  line-height: 20px;
  text-align: center;
}

#homepage-desc {
  text-align: center;
  font-weight: bold;
  font-size: 3.8em;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0;
}

.comma {
  color: #61BDB6;;
}

.exclamation {
  color: #61BDB6;;
}


