.nav-bar {
  width: 100%;
  background-color: #61BDB6;
  font-family: 'Quicksand', sans-serif;
}

.nav-bar a {
  color: #61BDB6;
  background-color: #FBD3E7;
  vertical-align: middle;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.nav-bar img {
  width: auto;
  height: 175px;
  top: 0px;
}

.nav-bar .logo {
  float: left;
  padding-left: 10px;

  vertical-align: center;
  background-color: #61BDB6;
  padding: none;
}

.nav-bar .user-link {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.footer {
/*  position: relative;*/
  min-height: 100%;
  padding-top: 60px;
}

.user-info {
  float: left;
  margin-left: -60px;
  border: 2px solid red;
  float: left;
}

.movie-container {
  text-align: center;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  line-height: 90%;
  font-family: 'Quicksand', sans-serif;
}

.profile-page {
  text-align: center;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  line-height: 90%;
  font-family: 'Quicksand', sans-serif;
}


.devise-container {
  display: block;
  text-align: center;
  margin: auto;
}

.devise-container form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.replace-me-with-something-better {
  height:300px;
}
