#boppin {
    position:absolute;
}

.loading {
  font-family: 'Fontdiner Swanky', cursive;
  text-transform:uppercase;
  font-size: 100px;
  text-align:center;
  line-height:50px;
  position:relative;
  /*position:absolute;*/
  left:0;right:0;top:50%;
  margin:auto;
  transform:translateY(-50%);
}

.loading span {
  position:relative;
  z-index:999;
  color:#fff;
}
.loading:before {
  content:'';
  background:#61bdb6;
  width:500px;
  height:100px;
  display:block;
  position:absolute;
  /*position:relative;*/
  top:0;left:0;right:0;bottom:0;
  margin:auto;

  animation:2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0%   {transform:translateX(-14px);}
  50%  {transform:translateX(14px);}
  100% {transform:translateX(-14px);}
}

.loading:after {
  content:'';
  background:#FBD3E7;
  width:20px;
  height:140px;
  display:block;
  position:absolute;
  /*position:relative;*/
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  opacity:.9;
  animation:2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0%   {transform:translateX(-100px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-100px);}
}
.hidden {
   visibility: hidden;
}
#boppin {
  background-color: red;
  /*vertical-align: bottom;*/
  /*margin-top: 1000px;*/
  padding-top: 1000px;
  /*position:relative;*/
}
