.display-details {
  font-size: 14px;
}

.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 80%;
    overflow: hidden;
    background: transparent;
    margin: auto;
    position: static;
}

.flexsearch--form {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 75%;
}

.flexsearch--input-wrapper {
    padding: 0 66px 0 0; /* Right padding for submit button width */
    overflow: hidden;
}

.flexsearch--input {
  width: 100%;
  margin: auto;
  font-size: 100px;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 20px 0 20px;
  margin: auto;
}

.flexsearch--input {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 60px;
  padding: 0 25px 0 30px;
    border-color: #61BDB6;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
    border-width: 5px;
  margin-top: 15px;
  color: #61BDB6;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* magnifying glass */
.flexsearch--submit {
  position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
  padding: 0;
  border: none;
    margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
    background: transparent;
  color: #61BDB6;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  line-height: 60px;
}

/* when search back is clicked */
.flexsearch--input:focus {
  outline: none;
  border-color: #FBD3E7;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #FBD3E7;
}

/* hover magnifying class */
.flexsearch--submit:hover {
  color: #FBD3E7;
  cursor: pointer;
}

/* search text in searchbar */
::-webkit-input-placeholder {
    color: #61BDB6;
}

input:-moz-placeholder {
  color: #FBD3E7;
}

.error-no-match {
  font-family: 'Quicksand', sans-serif;
  padding: 30px;
  text-align: center;
  color: red;
}
