.band {
  float: left;
  display: inline-block;
}

.band-photo {
  width: 150px;
  height: 150px;
}

.show-details {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  float: right;
  display: inline-block;
  width: 75%;
}

#songkick {
  height: 12px;
  width: 12px;
}

#border {
  clear: left;
  border: 5px dashed #DB7093;
  width: auto;
}

li {
  list-style: none;
}
