.container{
  width: 95%;
}

.band {
  float: left;
  display: inline-block;
}

.band-photo {
  width: 150px;
  height: 150px;
  padding: 20px;
  margin-left: 100px;
}

.show-details {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  float: right;
  display: inline-block;
  width: 50%;
  margin-right: 100px;
}

#songkick {
  height: 30px;
  width: 30px;
}

#border {
  clear: left;
  border-bottom: 2px dashed #DB7093;
  width: auto;
  padding-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

li {
  list-style: none;
}

.band-results {
  padding-top: 25px;
}

