.band {
  float: left;
  display: inline-block;
}

.band-photo {
  width: 300px;
  height: 300px;
}

.show-details {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  float: right;
  display: inline-block;
}

#songkick {
  height: 48px;
  width: 48px;
}

#border {
  clear: left;
  border: 5px dashed #DB7093;
  width: auto;
}

li {
  list-style: none;
}
