td.user-show {
  background-color: #61BDB6;
  vertical-align: top;
  text-align: center;
  border-radius: 12px;
}

td.user-show div.show-details li {
  text-align: left;
  line-height: 20px;
  width: 160px;
  margin: auto;
  /*margin-left: -10px;*/
}

.user-show .band-results .band .band-photo {
  width: 150px;
  text-align: center;
  margin: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

.user-show .band-results #border {
  display: none;
}

h2.user-show {
  text-align: left;
  font-size: 3em;
  color: #61BDB6;
  border-radius: 12px;
  padding-left: 25px;
  padding-right: 25px;
}

div.show-details h3 {
  font-size: 1.5em;
  text-align:
}

h2.user-display {
  margin-bottom: 40px;
}
