<div class="flexsearch">
    <div class="flexsearch--wrapper">
      <form class="flexsearch--form search-bar" action="/homes/search" method="post">
        <div class="flexsearch--input-wrapper">
          <input class="flexsearch--input" type="search" placeholder="search" name="user_input">
        </div>
        <button class="flexsearch--submit" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
</div>