<div class="flexsearch">
      <form <% if @index_view %> class="flexsearch--form search-bar" <% else %> class="six columns flexsearch--form search-bar" <% end %> action="/homes/search" method="post">
        <div class="flexsearch--input-wrapper">
          <input class="flexsearch--input" type="search" placeholder="search for 'indie' or 'indie 5 weeks from now'" name="user_input">
        </div>
        <button class="flexsearch--submit" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
</div>
